
body {
  background-color: #ebebeb;
  color: #27c;
  font-size: 16px; }

.mainContainer {
  max-width: 1200px;
  margin: 0 auto; }

.booking_button {
  padding: 10px;
  margin: 10px 0px; }

.wizard {
  padding: 20px 0px; }
  .wizard .wizard-inner span {
    text-transform: uppercase; }
